$primary-color: darkblue;
$text-color: #000000;
$secondary-color: white;
$secondary-color2: black;
$secondary-color3: #333;
$secondary-color4: #aaa;
$secondary-color5: red;
$font-family: "Arial", sans-serif;
