.navigation {
  display: flex;
  justify-content: space-between;
}
.navigation .nav-list {
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigation a {
  text-decoration: none;
  color: #000000;
  padding: 10px;
}
.navigation a:hover {
  background-color: darkblue;
  color: white;
}
.navigation ul:last-of-type {
  justify-content: flex-end;
  background-color: darkblue;
  color: #333;
}
.navigation ul:last-of-type img {
  width: 1rem;
  filter: invert(1);
}
.navigation ul:last-of-type li {
  display: flex;
  padding: 0 0.3rem;
}

.header {
  height: 80px;
  width: 70%;
  background-color: darkblue;
  border-radius: 3px;
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.header .logo {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.head {
  background-color: darkblue;
  border-radius: 3px;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  color: black;
  display: flex;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  background-color: darkblue;
  padding-top: 100px;
}
footer .footer-main {
  display: flex;
  justify-content: center;
  gap: 40px;
}
footer .footer-main img {
  width: 60px;
}
footer figure {
  display: flex;
  justify-content: center;
  gap: 0;
  margin: 40px 0;
}
footer nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
footer nav ul {
  list-style: none;
  margin: 5rem 2rem;
}
footer nav li {
  color: white;
  font-size: 1.2rem;
  display: flex;
  gap: 10px;
  margin-left: 5rem;
  padding: 0;
}
footer a {
  text-decoration: none;
  color: white;
}
footer h3 {
  margin-bottom: 2rem;
  margin-left: 10px;
}

.cart {
  display: flex;
  background-color: #f0f0f0;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  border-radius: 3px;
  width: 80px;
}
.cart p {
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  background-color: darkblue;
  color: white;
}
.cart.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #aaa;
  border-radius: 3px;
  margin: 10px;
}

.fa-solid {
  color: #666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial, sans-serif";
  font-size: 18px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  width: 70%;
  margin-bottom: 30px;
}

#root {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.sidebar {
  width: 40%;
  border-radius: 5px;
  background-color: #eee;
  margin-left: 20px;
  padding: 15px;
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 15px;
}

.img-box {
  width: 100%;
  height: 180%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.images {
  max-width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.bottom {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}

button:hover {
  background-color: #ccc;
}

.row-img {
  width: 50px;
  height: 50px;
  max-width: 43px;
  max-height: 43px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-trash:hover {
  cursor: pointer;
  color: #999;
}

#mainContainer {
  background-color: #333;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 768px) {
  #mainContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}/*# sourceMappingURL=main.css.map */